:root {
    --accent-color: #2196F3;
    --accent-text: Roboto;
    --accent-text-color: #212121;
    --accent-background-color: #ffffff;
    --aside-text: #757575;
    --accent-color-portfolio: #E5E5E5;
    --background-color-buttons: #F5F4FA;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    ul,
    li {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    img {
        display: block;
    }
    address {
        font-style: normal;
    }
    /* header */
    .page-header {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .header-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navigation{
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 25px;
    }
    .body {
        font-size: 14px;
        letter-spacing: 0.03em;
        background-color: var(--accent-background-color);
        font-family: var(--accent-text);
        color: var(--accent-text-color);
    }
    .page {
        background: var(--accent-background-color);
        color: var(--accent-text-color);
    }
    
    .logo {
        margin-right: 93px;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        font-family: Raleway;
        color: var(--accent-text-color);
        text-decoration: none;
    }
    
    .slogan {
       color:  var(--accent-color);
       font-family: Raleway;
       font-size: 26px;
       line-height: 1.19;
       letter-spacing: 0.03em;
    }
    .header-slogan {
        font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
    }
    .header-slogan:hover,
    .header-slogan:focus {
        color:  var(--accent-color);
    }
    
    /* site-nav */
   
    .site-nav-list {
        text-decoration: none;
        font-family: var(--accent-text);
        font-style: normal;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    .site-nav-list {
        display: flex;
    }
    .site-nav-list .nav-list-link {
        text-decoration: none;
        color: var(--accent-text-color);
        font-weight: 500;
    }
    .item:not(:last-child){
        margin-right: 50px;
    }
    .site-nav-list .nav-list-link:hover,
    .site-nav-list .nav-list-link:focus {
        color:  var(--accent-color);
    }
    .auth-nav-list {
        display: flex;
        margin-left: auto;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .auth-nav-list {
        color: var(--aside-text);
        font-weight: 500;
        font-family: var(--accent-text);
        font-style: normal;
        list-style: none;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    .contact-item {
        margin-right: 50px;
    }
    .nav-contact-item {
        text-decoration: none;
        color: var(--aside-text);
    }
    .widget__link {
        color: var(--aside-text);
        text-decoration: none;
        font-weight: 500;
    }
    
    .auth-nav-list .nav-contact-item:hover,
    .auth-nav-list .nav-contact-item:focus,
    .auth-nav-list .nav-widget__link:hover,
    .auth-nav-list .nav-widget__link:focus {
        color:  var(--accent-color);
    }
    
    /* hero */
    .section-main {
        background-color: #2f303a;
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
    }
    .section-main-caption {
        font-family: var(--accent-text);
        text-align: center;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--accent-background-color);
        margin: 0 auto;
    }
    .advantage-conteiner {
        padding-top: 200px;
        padding-bottom: 280px;
    }
    /*button*/
    .main-button {
        position: absolute;
        margin-top: 50px;
        border: none;
        cursor: pointer;
        align-items: center;
        min-width: 136px;
        min-height: 50px;
        padding: 10px 30px;
        left: 855px;
        top: 430px;  
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
    }
    .main-button-text {
        font-family: var(--accent-text);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--accent-background-color);
    }
    .main-button-text:hover,
    .main-button-text:focus {
        color: var(--accent-text-color);
    }
    .main-button:hover,
    .main-button:focus {
        background: var(--accent-background-color);
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
    }
    /*end button*/
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .section-content {
        display: flex;
        list-style: none;
        flex-direction: row;
    }
    .section-content-item {
        flex-basis: calc((100% - 90px) /4);
        margin-right: 30px;
    }
    .section-content-item:nth-child(4n) {
        margin-right: 0;
    }
    .section-content-subtitle {
        font-family: var(--accent-text);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-text-color);
    }
    .section-content-text {
        font-family: var(--accent-text);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--aside-text);
    }
    /*Чем мы занимаемся*/
    .container-img{
        padding-bottom: 94px;
    }
    .subject {
        margin-bottom: 50px;
        font-family: var(--accent-text);
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
    }
    .section-img {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    .img:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    /*наша команда*/
    .portfolio {
        padding-top: 94px;
        padding-bottom: 94px;
        background: #F5F4FA;
    }
    .description {
        font-family: var(--accent-text);
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
        margin-bottom: 50px;
    }
    .userpic {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-left: -30px;
        margin-top: -30px;
    }
    .user-img {
        flex-basis: calc((100% - 120px) /4);
        margin-left: 30px;
        margin-top: 30px;
        background: var(--accent-background-color);
    }
    .user-name {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .user-desk {
        font-family: var(--accent-text);
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
    }
    .user-desk-item {
        font-family: var(--accent-text);
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--aside-text);
    }
    /*footer*/
    .footer-conteiner-section {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 215px;
        padding-right: 15px;
    }
    .logo-footer {
        margin-bottom: 20px;
    }
    .footer-section {
        margin-top: 20px;
    }
    .footer {
        background: #2F303A;
        width: 1600px;
    }
    .footer a {
        text-decoration: none;
    }
    .footer-slogan {
        font-family: Raleway;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-background-color);
    }
    
    .footer-slogan:hover,
    .footer-slogan:focus {
        color: var(--accent-color);
    }
    .footer-main-item:not(:nth-child(3n)) {
        margin-bottom: 9px;
    }
    .footer-list {
        list-style: none;
        text-decoration: none;
    }
    .footer-item {
        font-family: var(--accent-text);
        font-style: normal;
        text-decoration: none;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    .footer-item-link {
        font-family: var(--accent-text);
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--accent-background-color);
    }
    .footer-list .footer-item:hover,
    .footer-list .footer-item:focus {
        color: var(--accent-color);
    }
    
    .footer-item-link:hover,
    .footer-item-link:focus {
        color: var(--accent-color);
    }
    /*=====portfolio=====*/
    /*button*/
    .section-buttons {
        padding-top: 100px;
        margin-bottom: 56px;
    }
    .main-section {
        background-color: var(--accent-color-portfolio);
        padding-bottom: 94px;
    }
    .button-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        list-style: none;
    }
    .buttons-item:not(:last-child) {
        margin-right: 8px;
    }
    .section-button-title {
        display: none;
    }
    .button-item {
        border: none;
        cursor: pointer;
        border-radius: 4px;
        background: var(--background-color-buttons);
    
    }
    .main-button-desc {
        font-family: var(--accent-text);
        font-style: normal;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--accent-text-color);
    }
    .button-item:hover,
    .button-item:focus {
        background: var(--accent-color);
    }
    .main-button-desc:hover,
    .main-button-desc:focus {
        color: var(--accent-background-color)
    }
    /*img*/
    .img-item-link {
        text-decoration: none;
    }
    .section-img-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin-right: -30px;
        margin-bottom: -30px;
    }

    .img-item {
        background: var(--accent-background-color);
        width: 370px;
        border: 1px solid #EEEEEE;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .portfolio-description {
        padding-top: 20px;
        padding-right: 24px;
        padding-bottom: 20px;
        padding-left: 24px;
        border: 1px solid #eeeeee;
        border-top: none;
    }
    .section-img-desc {
        font-family: var(--accent-text);
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--accent-text-color);
    }
    .section-img-text {
        font-family: var(--accent-text);
        font-weight: normal;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--aside-text);
    }
    
    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
